<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <style>
        table {
            table-layout: fixed;
            width: 100%;
        }

        th, td {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

    </style>
</head>

<body>
<h3 th:if="${users.size() == 0}" class="text-center">You do not have any notes</h3>
<div th:if="${users.size() != 0}" class="container mt-5">
    <div class="card shadow">
        <div class="card-header shadow">
            <h2 class="text-center">List of users</h2>
        </div>
        <!-- Добавленная форма для поиска -->
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getName()}">Username</td>
                <td th:text="${user.getRole()}">Role</td>
                <td th:text="${user.enabled}">Enabled</td>
                <td>
                    <form th:action="@{/admin/delete}" method="post" class="d-inline">
                        <input type="hidden" name="username" th:value="${user.name}"/>
                        <button type="submit" class="btn btn-primary">Delete 🗑️</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container mt-5">
    <a class="btn btn-warning btn-lg shadow flex-fill" th:href="@{/logout}">Logout</a>
</div>
<div class="container mt-5">
    <footer>@2023 <a href="https://github.com/Eugen2510/to_do_list">Code</a> | <a
            href="https://www.linkedin.com/in/%D1%94%D0%B2%D0%B3%D0%B5%D0%BD-%D0%BB-09388714b/">LinkedIn</a></footer>
</div>
<!--<a class="btn btn-primary btn-lg shadow flex-fill" th:href="@{/note/create}">Створити нову нотатку</a>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
